<%= label_tag :amount, 'Input currency in USD' %>
<div class="consolelike">
  <input id="amount" type="number" name="amount" class="consolelike-input" value="">
  <span class="fauxInput" dir="rtl"></span>
  <label class="consolelike-label" for="amount">Input amount</label>
</div>