<div class="chips">
  <% @chips.each do |value| %>
      <div class="chip">
        <div class="chip-value">
          <h3><%= value %></h3>
        </div>
        <div class="consolelike">
          <%= number_field_tag 'chips[' + value.to_s + ']', '', class: 'consolelike-input' %>
          <span class="fauxInput" dir="rtl"></span>
          <%= label_tag('chips[' + value.to_s + ']', '   ', class: 'consolelike-label') %>
        </div>
      </div>
  <% end %>
</div>