<%= form_tag chips_path, method: :put do %>
    <%= label_tag :amount, 'Input currency in USD' %>
    <!-- <%= number_field_tag :amount %> -->

    <div class="consolelike">
      <input id="Input" type="number" name="amount" class="consolelike-input" value="">
      <span class="fauxInput" dir="rtl"></span>
      <label class="consolelike-label" for="Input">Input amount</label>
    </div>

    <script>
        document.documentElement.setAttribute("class", "js");

        var fauxInput = document.querySelector(".fauxInput");
        var input = document.getElementById("Input");

        input.addEventListener("input", function copyInput(event) {
            fauxInput.textContent = input.value;
            input.setAttribute("value", input.value);
        }, false);

        input.focus();
    </script>
<% end %>