<h1>Welcome</h1>
<h3>Current balance: </h3>

<h2>Chips:</h2>
<div class="chips">
  <% @chips.each do |chip| %>
      <div class="chip">
        <div class="chip-value">
          <h3><%= chip.value %></h3>
        </div>
        <p>x<%= chip.count %></p>
      </div>
  <% end %>
</div>

<h2>Balance:</h2>
<% @currency.each do |currency| %>
    <p>Currency: <%= currency.currency.upcase %></p>
    <p>Amount: <%= number_to_currency(currency.amount, currency: currency.currency) %></p>
<% end %>